
SerialToSerialBT-RIC/SerialToSerialBT-RIC.ino
Teste/interruptor-inteligente/interruptor-inteligente.ino
Teste/SerialToSerialBT-RIC/SerialToSerialBT-RIC.ino
ESP-32 Dev Kit C V2_EN.pdf
*.pdf
ESP-32 Dev Kit C V2_EN.pdf
Teste/interruptor-inteligente/interruptor-inteligente.ino
Teste/SerialToSerialBT-RIC/SerialToSerialBT-RIC.ino

raspberry/sb-docker/credentials.txt

interruptor-inteligente/chaves/Wifi-keys.h

interruptor-inteligente/chaves/Mqtt-keys.h
